* { margin:0; padding:0; box-sizing:border-box; font-family: "Arial", sans-serif; }
body { background:white; color:#111; }

/* HEADER */
header {
  display:flex; justify-content:space-between; align-items:center;
  padding:20px 40px; border-bottom:1px solid #ddd;
}
.logo { font-weight:800; letter-spacing:2px; font-size:20px; }
nav ul { display:flex; gap:25px; font-weight:bold; }
nav li { list-style:none; cursor:pointer; padding-bottom:3px; }
nav li:hover { border-bottom:2px solid #000; }
#adminBtn {
  background:black; color:white; border:none; padding:8px 14px; cursor:pointer;
  font-weight:bold; border-radius:4px;
}

/* HERO */
#hero { text-align:center; padding:120px 20px 80px; }
#hero h1 { font-size:48px; font-weight:900; }
#hero p { font-size:18px; margin-top:10px; color:#555; }

/* GRID */
.grid {
  display:grid; gap:40px;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  padding:40px;
}
.card {
  border:1px solid #eee; border-radius:10px; padding:20px;
  text-align:center; transition:.3s; cursor:pointer;
}
.card:hover { transform:translateY(-5px); box-shadow:0 10px 30px rgba(0,0,0,.08); }
.card img { width:100%; border-radius:10px; }

/* BTN SUPPR */
.deleteBtn {
  margin-top:10px;
  background:#e60000; color:white;
  border:none; padding:7px 12px; cursor:pointer; border-radius:5px;
}

/* FOOTER */
footer {
  text-align:center; padding:30px; margin-top:50px;
  border-top:1px solid #ddd; color:#666;
}

/* MODAL */
#modal {
  position:fixed; inset:0; background:rgba(0,0,0,.6);
  display:flex; justify-content:center; align-items:center;
}
.hidden { display:none; }
.modal-box {
  background:white; padding:25px; border-radius:10px; width:300px; text-align:center;
}
.modal-box input { width:100%; padding:10px; margin:10px 0; border:1px solid #ccc; }
.modal-box button { padding:8px 14px; margin-top:5px; cursor:pointer; border:none;
  background:black; color:white; border-radius:4px; }
.closeModal { background:#aaa; }
